@model HerbsStore.Libraries.HS.Services.HospitalServices.HospitalCrudVm
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->

<div class="container">


    <div class="w3ls_w3l_banner_nav_right_grid">

        <br />
        <br />
        <h4 class="mb-4 text-dark text-capitalize">Search Hospitals</h4>
        <br />
        <div class="container  " style="background-color: aliceblue">
            <div class="row justify-content-center">
                <div class="col-lg-10">

                    <form method="get" asp-controller="Hospitals" asp-action="List">
                        <div class="form-group px-2 py-2">
                            <div class="row">

                                <div class="col-1 col-md-4">
                                    <div>

                                        <input type="text" placeholder="Type a hospital name " class="form-control" asp-for="HospitalName" value="">
                                    </div>
                                </div>


                                <div class="col-md-4 mb-4">

                                    <select class="form-control" data-toggle="select" data-live-search="true" asp-for="DiseaseId" asp-items="_dropdown.GetDisease()">
                                        <option value="0">All Disease</option>

                                    </select>
                                </div>

                             
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary btn-bg pull-right">
                                        <span class="btn-inner--icon">
                                            <i class="fa fa-search"></i>
                                        </span> Search Hospitals
                                    </button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <h4>List of Hospitals</h4>
        <div class="w3ls_w3l_banner_nav_right_grid1">
            @foreach (var item in Model.List)
            {

                <div class="col-md-4 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">

                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block text-center">
                                        <div class="snipcart-thumb">
                                            <img src="@item.ImageUrl" alt=" " class="img-responsive" />

                                            <br />
                                            <h4>@item.HospitalName</h4>
                                            <p>@item.HospitalAddress</p>
                                            <p>@item.Description</p>
                                            <p>@item.DiseasesFlat</p>

                                        </div>

                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- //banner -->