@model  List<HerbsStore.Libraries.HS.Services.HospitalServices.HospitalCrudVm>
@{
    ViewData["Title"] = "Hospitals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
     
    <h2 class="typoh2">List of Hospitals</h2>
    <br/>
    <div class="pull-right">
        <a asp-controller="Administration" asp-action="HospitalAdd" class="btn btn-primary">Add New</a>
    </div>
    <div class="bs-docs-example">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Hospital Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Disease Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            
            @foreach (var item in Model)
            {

          
            <tr>
                <td>@item.Id</td>
                <td><img src="@item.ImageUrl" width="30" height="30"/></td>
                <td>@item.HospitalName</td>
                <td>@item.HospitalAddress</td>
                <td>@item.Description</td>
                <td>@item.DiseasesFlat</td>
                <td><a asp-controller="Administration" asp-action="HospitalEdit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Administration" asp-action="DeleteHospital" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            }

            </tbody>
        </table>
    </div>
    <hr class="bs-docs-separator">
</div>