@model List<HerbsStore.Libraries.HS.Services.OrdersServices.OrderCrudVm>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
     
    <h2 class="typoh2">List of Orders</h2>
    <br/>
    
    <div class="bs-docs-example">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Product Ordered</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Date/Time</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            
            @foreach(var item in Model) {
            <tr>
                <td>@item.Id </td>

                <td>
                    @foreach (var product in item.Products)
                    {
                        <li>
                            <a asp-controller="Administration" asp-action="ProductEdit" asp-route-Id="@product.Id">
                                <img src="@product.ImageUrl" height="30" width="30" />
                                @product.ProductName
                                Qty: @product.Quantity
                            </a>
                        </li>
                    }
                    <li>Order Total:TL @item.TotalAmount</li>
                </td>
                

                <td>@item.CustomerName</td>
                <td>@item.Address</td>
                <td>@item.CreatedOn</td>
                
                @if (item.OrderStatus)
                {
                    <td>Order Confirmed</td>
                }
                else
                {
                    <td>Pending</td>
                }
            <td>
                
                @if (!item.OrderStatus)
                {
                    <a asp-controller="Administration" asp-action="OrderConfirmToggle" asp-route-id="@item.Id" class="btn btn-primary">Confirm</a>
                }
                else
                {
                    <a asp-controller="Administration" asp-action="OrderConfirmToggle" asp-route-id="@item.Id" class="btn btn-primary">Mark Pending</a>
                }
               
                <a asp-controller="Administration" asp-action="OrderDelete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                </td>
            </tr>
            }

            </tbody>
        </table>
    </div>
    <hr class="bs-docs-separator">
</div>