
@using Microsoft.AspNetCore.Razor.Hosting
@model List<HerbsStore.Libraries.HS.Services.ProductServices.ProductCrudVm>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
     
        <h2 class="typoh2">List of products</h2>
        <br/>
        <div class="pull-right">
            <a asp-controller="Administration" asp-action="ProductAdd" class="btn btn-primary">Add New</a>
        </div>
        <div class="bs-docs-example">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Product Type</th>
                        <th>Cost</th>
                        <th>Description</th>
                        <th>Feature</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><img src="@item.ImageUrl" height="30" width="30"/></td>
                            <td>@item.ProductName</td>
                            <td>@_dropdown.ResolveDropdown(item.ProductType, _dropdown.ProductsTypes())</td>
                            <td>TL @item.Price</td>
                            <td>@item.ProductDescription</td>
                            <td>@item.ProductFeature</td>
                            <td>
                                <a asp-controller="Administration" asp-action="ProductEdit" asp-route-Id="@item.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="Administration" asp-action="DeleteProduct" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
        </div>
        <hr class="bs-docs-separator">
    </div>